<div>
  <%= form.label :name %>
  <%= form.text_field :name, readonly: true %>
  <%= form.hidden_field :name %>
</div>
<div>
  <%= form.label :email %>
  <%= form.email_field :email, readonly: true %>
  <%= form.hidden_field :email %>
</div>
<div>
  <%= form.label :phonenumber %>
  <%= form.number_field :phonenumber, readonly: true %>
  <%= form.hidden_field :phonenumber %>
</div>
<div>
  <%= form.label :message %>
  <%= form.text_area :message, readonly: true %>
  <%= form.hidden_field :message %>
</div>
