<div>
  <%= form.label :name %> (任意)
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :email %> (必須)
  <%= form.email_field :email, required: true, pattern: "^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]+$" %>
</div>
<div>
  <%= form.label :phonenumber %> (必須)
  <%= form.telephone_field :phonenumber, required: true, pattern: "[0-9]" %>
</div>
<div>
  <%= form.label :message %> (必須)
  <%= form.text_area :message, required: true %>
</div>
